In [1]:
#Statistics Basics

In [2]:
#Types of Data

1. Quantitative. (Numerical variable) (+, -, /, *   for mathematical operations)
2. Qualitative.

1. Quantitative
    - Its numerical Data.

i. Discrete
    - "Its always a whole number".
    - e.g No. of Bank accounts, Members in Family. (We didn't say we have 7.3 members in family. we say we have 8 or 7         members in family.)
    
ii. Continuous
    - "It can be any value".
    - e.g Weight, height, Temperature, speed, distance etc.
    - 70.5 Kg, 175 cm, 56 C, 100 km/hr, 56.3 Km etc.
-------------------------------------------------------------------------
2. Qualitative
    - Its a Categorical data.

i. Nominal
    - Its a categorical data having Categories but not rank assigned to it like A > B, B < C etc.
    - e.g Gender, Blood Group, pincode etc. 
    - We don't say Female > Male or A+ > O- etc.
    
ii. Ordinal
    - Rank is there in this Category.
    - E.g Customer Feedback.
    - like Best > Good > not good.

In [1]:
#Level of Measurement

1. Nomimal
------------------------------------------------------------------
Below types of data lies in Nomimal data :

i. Qualitative/ categorical data.
ii. E.g Gender, colors
iii. Order does not matter.




2. Ordinal Scale Data
------------------------------------------------------------------

i. Ranking is important.
ii. Order is important.
iii. Difference can't be measured.

e.g  i)
We have an app, and it gave the feedback. 
so in 
1st -> Best
2nd -> Good
3rd -> Bad

e.g ii)
Suppose there is a race. and we got in 1st position.

So here, we can't measure the difference between 1st, 2nd and 3rd runner up.  Like if we have their timings, then we can take the difference between them like 1:20sec, 1:40 s & 1:41 s. But if we only know that 1st, 2nd & 3rd then how can we calculate it right so.



Note : When ever, you are having some data and there is a ranking/ ordering in it. Boom.... its "ordinal data".




3) Interval Scale Data:
------------------------------------------------------------------

i) Order matters.
ii) Diference can be measure.
iii) Ratio can't be measure.
iv) No True "0" starting point.


e.g ii) Diference can be measure.

Temperature variable

30* F
60* F
90* F
120* F


So the difference can be measure here as there is a difference of 30, 30, 30, 30 respectively.


e.g iii) Ratio can't be measure.

In the above example, there is a ratio of 2:1 in 60* F & 30* F. But it doesn't mean that we got double the heat what we got in where the ratio is 2.



e.g iv) No True "0" starting point.

In the above e.g, the temperature will not be only above 0* F. It can be -1* F as well. So we are not staying on '0' as static.







4) Ratio Scale Of Data.
------------------------------------------------------------------

i) Order Matters.
ii) Differences are measured (including ratio)
iii) Contain a "0" starting point.



e.g  i) Order Matters.

Students Marks in a class.
90, 60, 50, 40, 34

ASCE = 34, 40, 50, 60, 90


e.g  ii) Differences are measured (including ratio)

We can calculate the difference between the marks.



e.g  iii) Contain a "0" starting point.
We can say that if
A = 30 Marks
B = 90 Marks

Ratio = 1: 3
Its stating that the marks of B is 3 times of A.


Also the marks starts only from 0. It can't be -ve.

In [ ]:
#Measure of Central Tendency.

Below comes under Measure of Central Tendency.

1) Mean
2) Median
3) Mode
===================


1) Mean :
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
* Population (N) *
 
 X = {1,1,2,3,3,4,4,4,5,6}
 

       n
(μ)=  Σ   Xi    
       i=1 ----
            N
            
          {1,1,2,3,3,4,4,4,5,6}
    =   --------------------------
                   10

    =  33 / 10 
 
 Mean   =  3.3





2) Median :
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

X = {2,5,4,1,6}

i. Sort the X
> X = {1,2,4,5,6}


ii. No. of elements.
> 5

iii. If "No. of elements" is Odd
> No. of elements + 1
 ----------------------
            2

iii. If "No. of elements" is Even.

e.g X = {1,2,3,4,5,6}

>              (No. of elements)
    Mid1 =     -----------------
                      2
                      
                 Mid + 1
    Mid2 =      -----------
                    2
                    
                Value[Mid1] + Value[Mid2]
    Median =   -----------------------------
                            2
                            

IMP : 

# Why to Use Median ?
---------------------
            
Suppose we have a sample data i.e 

>>

Sample Mean = {1,2,3,4,5}

then what will be the sample mean ?

                 1 + 2 + 3 + 4 + 5         15
  Sample Mean = --------------------- =  ------  = 3
                        5                  5
                        

But what if we have
Sample Mean = {1,2,3,4,5,100} ?


                 1 + 2 + 3 + 4 + 5 + 100         115
  Sample Mean = ---------------------        =  ------  = 19.**
                        6                         6
                        

So here, this much difference is there i.e 3 to 19. That because '100' we have added. So here, we can say this value i.e '100' as an "OUTLIER".


That's why when we take the "Median", 

            3 + 4        7
Median =   -------   = ------ = 3.5
             2           2
             


Note : You can see the difference that how it affected after eliminating the outlier. That's why Median is important.



3) Mode : Frequency Maximum
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 

Its the maximum occuring element.

e.g x = {1,2,3,4,2,3,4,5,6,2,3,3,4}

1 = 1
2 = 3
3 = 4
4 = 3
5 = 1
6 = 1

So the maximum occuring element is '3' which comes 4 times. 
so Mode = 3.



# where we need to use Mode ?
> 

Supoose we have 3 columns.

Age  Gender  salary
12    M       12000
34    -       12000
54    F       12000
14    M       12000
17    -       12000
24    M       12000
78    M       12000



so here, there are missing values in Gender column. so by using MOde we can replace it.
like 
M = 3
F = 1

So we can replace those spaces with 'M'. This is just for example.

In [1]:
#Measure of Central Tendency using Python

In [9]:
#1. Mean

age = [12,21,24,45,65,43,56,64,45,67,23]

import numpy as np

#to calculate Mean
np.mean(age)

42.27272727272727

In [10]:
weights = [56,76,77,57,97,68]

np.mean(weights)

71.83333333333333

In [ ]:
#calculating mean from data set.

In [11]:
import seaborn as sns

df = sns.load_dataset('tips')  #this is inbuild data set in Seaborn.
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
np.mean(df['total_bill'])

19.78594262295082

In [13]:
#Median
#--------

In [14]:
np.median(age)

45.0

In [ ]:
#outlier in Mean 1

In [15]:
age = [12,21,24,45,65,43,56,64,45,67,23, 144] #144 is an outlier.

In [16]:
np.mean(age) #major change 1

50.75

In [17]:
#outlier in Mean 2

In [18]:
age = [12,21,24,45,65,43,56,64,45,67,23, 200] #200 is an outlier.

In [19]:
np.mean(age)  #major change 2

55.416666666666664

In [21]:
np.median(age) #thats why we use Median.

45.0

In [22]:
#Mode

In [25]:
from scipy import stats

In [26]:
age = [12,21,24,45,65,43,56,64,45,67,23]

In [28]:
stats.mode(age)  #as 45 occurs maximum time so

/tmp/ipykernel_154/2909034312.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)  #as 45 occurs maximum time so

ModeResult(mode=array([45]), count=array([2]))